[Unit]
Description=Locked HDMI console
After=systemd-user-sessions.service
Conflicts=getty@tty1.service ha-cli@tty1.service
Before=getty.target

[Service]
ExecStart=/root/bin/haos-console-lock.sh
Type=idle
Restart=always
RestartSec=1s
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
