[Unit]
Description=Weekly hyprsunset sunrise and sunset times

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
